@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Neuton');

/* Tattoo fonts */
@font-face {
  font-family: 'Always Beside You';
  src: url('./fonts/Always\ Beside\ You.otf');
}

@font-face {
  font-family: 'Reditum';
  src: url('./fonts/Reditum.ttf');
}

::-webkit-scrollbar {
  width: 10px; 
}

/*  The draggable scrolling element resizes depending on the size of the scrollable element. */
::-webkit-scrollbar-thumb {
  background-color: #c0bebe;
}